.card {
  background-color: #dff2ef;
  height: 92.8%;
  border-radius: 15px 15px 0px 0px;
  padding-top: 15px;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.card ul {
  margin: 0;
  list-style: circle;
}

.card::-webkit-scrollbar {
  display: none;
}

.container p {
  font-family: AvenirNextDemiBold;
  font-size: 20px;
  margin: 0;
}

.container {
  position: relative;
  width: 28%;
  margin-left: 20px;
  margin-right: 20px;
}

.header {
  display: flex;
}
