.taskView {
  width: 80%;
  height: 100%;
  margin-left: 260px;
}

.taskCards {
  display: flex;
  height: 79%;
  justify-content: center;
}

.createTask {
  width: 100%;
  height: 150px;
}

.createTask p {
  font-family: AvenirNextDemiBold;
  font-size: 36px;
  margin: 0px 0px 0px 50px;
  padding-top: 15px;
  z-index: 21;
}

.addAndSearch {
  display: flex;
}
