.selected {
  background-color: #279d84;
  color: #fcfcfc;
  border-radius: 0px 25px 25px 0px;
}
.navButton {
  cursor: pointer;
  padding: 10px 0px 7px 50px;
  list-style: none;
  margin-left: -43px;
  text-align: left;
  width: 65%;
  margin-bottom: 5px;
}
.delete:hover {
  color: red;
}
